$font-family: 'Gilroy', sans-serif;
$font-beta: 'Tahoma', sans-serif;

// COLORS
$alpha: #71CBF4;
$alpha-active: #44BFF6;
$beta: #29265B;
$beta-active: #373470;

$gamma: #B7B4E2;
$delta: #716DBB;
$delta-active: #A7A2FD;
$epsilon: #EAF7FD;

$error: #ff0000;

$alpha-gradient: linear-gradient(47.86deg, #2A346E 0%, #53BDE7 99.97%);

$dark: #191745;
$light: #fff;
